<div *ngIf="Champs.length != 0" >
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let champ of Champs">
          <td>{{champ.id}}</td>
          <td>{{champ.name}}</td>
          <td>{{champ.role}}</td>
          <td>{{champ.difficulty}}</td>
          <td><img src={{champ.imageUrl}} alt="LOL Champion Image" width="200"></td>
          <td>
            <a [routerLink]="['/edit-champ/', champ.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
            <a [routerLink]="" (click)="deleteChamp(champ.id)" class="btn btn-danger btn-sm float-right">Delete</a>
          </td>
        </tr>
      </tbody>
  </table>
  </div>
</div>
