<div class="col-md-12">
  <h3 class="mb-3 text-center">Edit Champ</h3>

  <div class="form-group-row">
    <label class="control-label col-md-12">Champion Name</label>
    <input type="text" [(ngModel)]="champDetails.name" class="form-control">
  </div>
  <div class="form-group-row">
    <label class="control-label col-md-12">Role</label>
    <input type="text" [(ngModel)]="champDetails.role" class="form-control">
  </div>
  <div class="form-group-row">
    <label class="control-label col-md-12">Difficulty</label>
    <input type="text" [(ngModel)]="champDetails.difficulty" class="form-control">
  </div>
  <div class="form-group">
    <button class="btn-success btn-lg btn-block" (click)="updateChamp()">Save Champion</button>
  </div>
</div>
