<button class="btn btn-outline-primary" routerLink="/list-champ">List LOL Champions</button>
<button class="btn btn-outline-primary" routerLink="/create-champ">Create LOL Champions</button>

<div class="container">
  <h2>LOL Champions</h2>
  <router-outlet></router-outlet>
</div>

